@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::selection{
    color: rgb(145, 107, 3)
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .Toastify__toast-container {
    width: 90%; /* Adjust width on mobile */
    left: 5%; /* Center horizontally */
  }
}
